name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Build aplication with Vite
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm ci
      - run: npm run build
      - run: git config user.name "Almir Alves de Freitas Junior"
      - run: git config user.email "almirafjr.dev@gmail.com"
      - run: npm run deploy